{
  "presets": [
    ["env", { "target": { "node": "current" } }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "cwd": "packagejson",
      "extensions": [".ts"]
    }]
  ]
}
